@import 'palettes/current-theme.scss'

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

// Variable Color's 
$_1  : $mauve    ;
$_2  : $pink     ;
$_3  : $red      ;
$_4  : $peach    ;
$_5  : $yellow   ;
$_6  : $green    ;
$_7  : $teal     ;
$_8  : $sky      ;
$_9  : $sapphire ;
$_0  : $blue     ;

// Classes for the time widget, which changes with every workspace
._1,  .mauve     {  color: $_1;   }
._2,  .pink      {  color: $_2;   }
._3,  .red       {  color: $_3;   }
._4,  .peach     {  color: $_4;   }
._5,  .yellow    {  color: $_5;   }
._6,  .green     {  color: $_6;   }
._7,  .teal      {  color: $_7;   }
._8,  .sky       {  color: $_8;   }
._9,  .sapphire  {  color: $_9;   }
._0,  .blue      {  color: $_0;   }

.mauve_circular     {  color: $_1;  background-color:  $surface;}
.pink_circular      {  color: $_2;  background-color:  $surface;}
.red_circular       {  color: $_3;  background-color:  $surface;}
.peach_circular     {  color: $_4;  background-color:  $surface;}
.yellow_circular    {  color: $_5;  background-color:  $surface;}
.green_circular     {  color: $_6;  background-color:  $surface;}
.teal_circular      {  color: $_7;  background-color:  $surface;}
.sky_circular       {  color: $_8;  background-color:  $surface;}
.sapphire_circular  {  color: $_9;  background-color:  $surface;}
.blue_circular      {  color: $_0;  background-color:  $surface;}

.dock  {
  color:   $foreground;
  opacity: 0.85;
  font-family: CaskaydiaMonoNerdFont;
  font-size: 13;
  font-weight: bold;
}

.bar_1 { background-color: $background; border: solid 3px $_1; border-radius: 20px;  margin: 3 5 0 5; padding: 1;}
.bar_2 { background-color: $background; border: solid 3px $_2; border-radius: 20px;  margin: 3 5 0 5; padding: 1;}
.bar_3 { background-color: $background; border: solid 3px $_3; border-radius: 20px;  margin: 3 5 0 5; padding: 1;}
.bar_4 { background-color: $background; border: solid 3px $_4; border-radius: 20px;  margin: 3 5 0 5; padding: 1;}
.bar_5 { background-color: $background; border: solid 3px $_5; border-radius: 20px;  margin: 3 5 0 5; padding: 1;}
.bar_6 { background-color: $background; border: solid 3px $_6; border-radius: 20px;  margin: 3 5 0 5; padding: 1;}
.bar_7 { background-color: $background; border: solid 3px $_7; border-radius: 20px;  margin: 3 5 0 5; padding: 1;}
.bar_8 { background-color: $background; border: solid 3px $_8; border-radius: 20px;  margin: 3 5 0 5; padding: 1;}
.bar_9 { background-color: $background; border: solid 3px $_9; border-radius: 20px;  margin: 3 5 0 5; padding: 1;}
.bar_0 { background-color: $background; border: solid 3px $_0; border-radius: 20px;  margin: 3 5 0 5; padding: 1;}

.surface  {
  background-color: $surface;
  border-radius: 12px;
  padding: 0 10 0 10;
}

.energy {
  background-color: red;
}

.metric scale trough {
  all: unset;
  background-color: $surface;
  border-radius: 50px;
  min-height: 4px;
  min-width: 50px;
  margin: 10px;
}

@keyframes pulse {
  0%   {  color: $red;    }
  50%  {  color: $white;  }
  100% {  color: $red;    }
}

.low-battery{
  animation: pulse 1s infinite;
}

.low-battery_circular{
  animation: pulse 1s infinite;
}

.volume scale trough highlight{
  background-color: $mauve;
}

.volume-muted scale trough highlight{
  background-color: #7f849c;
}

.light scale trough highlight{
  background-color: $yellow
}

.bulbasaur {
  padding: 0px;
  margin-left: 5px;
}

.button hover{
  background-color: red;
}