@import 'palettes/new-catppuccin';
//@use 'ws';

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

// Variable Color's 

$_1  : $mauve    ;
$_2  : $pink     ;
$_3  : $red      ;
$_4  : $peach    ;
$_5  : $yellow   ;
$_6  : $green    ;
$_7  : $teal     ;
$_8  : $sky      ;
$_9  : $sapphire ;
$_10 : $blue     ;

$background:       #181825; // mantle
$background-popup: #1e1e2e; // base
$surface:          #313244; // surface0
$foreground:       $white;

// Classes for the time widget, which changes with every workspace
._1,  .mauve    {  color: $_1;   }
._2,  .pink     {  color: $_2;   }
._3,  .red      {  color: $_3;   }
._4,  .peach    {  color: $_4;   }
._5,  .yellow   {  color: $_5;   }
._6,  .green    {  color: $_6;   }
._7,  .teal     {  color: $_7;   }
._8,  .sky      {  color: $_8;   }
._9,  .sapphire {  color: $_9;   }
._10, .blue     {  color: $_10;  }

.background     { color: $background  }

.bar  { 
  //@include color($num: ws.$ws);
  background-color: $background;
  color:            $foreground;
  opacity: 0.85;
  font-family: CaskaydiaMonoNerdFont;
  font-weight: bold;
  padding: 3;
}

.surface  {
  background-color: #313244;
  border-radius: 12px;
  padding: 0 10 0 10;
}


.popup {
  background-color: $background;
  color:            $foreground;
  opacity: 0.85;
  padding: 10px;
  font-size: 15px;
  font-family: CaskaydiaMonoNerdFont;
  font-weight: bold;
}

.metric scale trough highlight {
  all: unset;
  background-color: #cba6f7;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #45475a;
  border-radius: 50px;
  min-height: 4px;
  min-width: 50px;
  margin: 10px;
}



.power-popup {
  font-size: 72px;
}

.power-popup button:hover{
  color: $peach;
}

.workspaces {
  font-size: 15px;
}

.energy circular-progress{
  background-color: #45475a;
}

.battery circular-progress{
  color: $green;
}

@keyframes pulse {
  0%   {  color: $red;    }
  50%  {  color: $white;  }
  100% {  color: $red;    }
}

.low-battery{
  animation: pulse 1s infinite;

}


.cpu circular-progress{
  color: $sapphire;
}

.ram circular-progress{
  color: $peach;
}

.volume scale trough highlight{
  background-color: $mauve;
}

.volume-muted scale trough highlight{
  background-color: #7f849c;
}

.light scale trough highlight{
  background-color: $yellow
}

.power {
  margin-right: 15px;
}

.bulbasaur {
  padding: 0px;
  margin-left: 5px;
}