@import 'palettes/darker-mocha.scss'

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: CaskaydiaMonoNerdFont;
  font-size: 13;
  font-weight: bold;
}

// Variable Color's 
$_1  : $mauve    ;
$_2  : $pink     ;
$_3  : $red      ;
$_4  : $peach    ;
$_5  : $yellow   ;
$_6  : $green    ;
$_7  : $teal     ;
$_8  : $sky      ;
$_9  : $sapphire ;
$_0  : $blue     ;

// Classes for the time widget, which changes with every workspace
._1,  .mauve     {  color: $_1;   }
._2,  .pink      {  color: $_2;   }
._3,  .red       {  color: $_3;   }
._4,  .peach     {  color: $_4;   }
._5,  .yellow    {  color: $_5;   }
._6,  .green     {  color: $_6;   }
._7,  .teal      {  color: $_7;   }
._8,  .sky       {  color: $_8;   }
._9,  .sapphire  {  color: $_9;   }
._0,  .blue      {  color: $_0;   }
._10,  .blue     {  color: $_0;   }
.black           {  color: $background;   }

.mauve_circular     {  color: $_1;  background-color:  $surface;}
.pink_circular      {  color: $_2;  background-color:  $surface;}
.red_circular       {  color: $_3;  background-color:  $surface;}
.peach_circular     {  color: $_4;  background-color:  $surface;}
.yellow_circular    {  color: $_5;  background-color:  $surface;}
.green_circular     {  color: $_6;  background-color:  $surface;}
.teal_circular      {  color: $_7;  background-color:  $surface;}
.sky_circular       {  color: $_8;  background-color:  $surface;}
.sapphire_circular  {  color: $_9;  background-color:  $surface;}
.blue_circular      {  color: $_0;  background-color:  $surface;}

.dock  {
  color:   $foreground;
  opacity: 1;
}

@keyframes rainbow_border {
    0% {border: solid 3px $_0;} 
   10% {border: solid 3px $_1;} 
   20% {border: solid 3px $_2;} 
   30% {border: solid 3px $_3;} 
   40% {border: solid 3px $_4;} 
   50% {border: solid 3px $_5;} 
   60% {border: solid 3px $_6;} 
   70% {border: solid 3px $_7;} 
   80% {border: solid 3px $_8;} 
   90% {border: solid 3px $_9;} 
  100% {border: solid 3px $_0;} 
}

@keyframes rainbow {
    0% {background: $_0;} 
   10% {background: $_1;} 
   20% {background: $_2;} 
   30% {background: $_3;} 
   40% {background: $_4;} 
   50% {background: $_5;} 
   60% {background: $_6;} 
   70% {background: $_7;} 
   80% {background: $_8;} 
   90% {background: $_9;} 
  100% {background: $_0;} 
}

.window_overview {
  background: #11111b;
  border-radius: 10px;
  margin: 5;
}

.window_overview_focused {
  background: $green;
  border-radius: 10px;
  margin: 5;
}

.rainbow_bar {
  animation: rainbow_border 5s infinite;
  background-color: $background;
  border: solid 3px $_0;
  border-radius: 20px; 
  margin: 3 5 0 5;
  padding: 1;
}

.bar { background-color: $background; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}

.bar_1  { background-color: $background; border: solid 3px $_1; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}
.bar_2  { background-color: $background; border: solid 3px $_2; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}
.bar_3  { background-color: $background; border: solid 3px $_3; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}
.bar_4  { background-color: $background; border: solid 3px $_4; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}
.bar_5  { background-color: $background; border: solid 3px $_5; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}
.bar_6  { background-color: $background; border: solid 3px $_6; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}
.bar_7  { background-color: $background; border: solid 3px $_7; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}
.bar_8  { background-color: $background; border: solid 3px $_8; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}
.bar_9  { background-color: $background; border: solid 3px $_9; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}
.bar_0  { background-color: $background; border: solid 3px $_0; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}
.bar_10 { background-color: $background; border: solid 3px $_0; border-radius: 20px;  margin: 3 9 0 9; padding: 1;}


.surface  {
  background-color: $surface;
  border-radius: 20px;
  padding: 0 10 0 10;
}

.pink-bg  {
  background-color: $pink;
  border-radius: 12px;
  padding: 0 10 0 10;
}

.background-bg {
  border: solid 2px $background;
  border-radius: 20px;
  padding: 0 10 0 10;
  background-color: $background;
}

.rainbow-bg {
  border: solid 2px $background;
  border-radius: 20px;
  padding: 0 10 0 10;
  background: radial-gradient(circle, $_1, $_2, $_3, $_4, $_5, $_6, $_7, $_8, $_9, $_0);
  background-size: 400% 400%;
  animation: gradient_f 20s ease-in-out infinite;
}

.linear-rainbow-bg {
  background: repeating-linear-gradient(90deg,  $_1, $_2, $_3, $_4, $_5, $_6, $_7, $_8, $_9, $_0);
  animation: gradient 5s ease infinite;
  background-size: 400% 100%;
  background-repeat:repeat-x;
  border: solid 2px $background;
  border-radius: 20px;
  padding: 0 10 0 10;
}

@keyframes gradient_f {
    0% {
        background-position: 0% 200%;
    }
    50% {
        background-position: 200% 0%;
    }
    100% {
        background-position: 400% 200%;
    }
}

.circle-rainbow-bg {
  background: radial-gradient(circle, $_1, $_2, $_3, $_4, $_5, $_6, $_7, $_8, $_9, $_0);
  background-size: 300% 300%;
  background-position: center;
  animation: expandGradient 5s ease infinite;
  border-radius: 20px;
  padding: 0 5px;
  border: solid 2px $background;
}

@keyframes expandGradient {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 300% 300%;
  }
}

.cheque:checked{
  padding: 0 5 0 5;
  transition: all 1s cubic-bezier(.55,-0.68,.48,1.68);
}

.cheque{
  padding: 0 0 0 0;
  transition: all 1s cubic-bezier(.55,-0.68,.48,1.68);
}


.solid-rainbow-bg {
  background: repeating-linear-gradient(90deg,  $_1, $_2, $_3, $_4, $_5, $_6, $_7, $_8, $_9, $_0);
  background-repeat:repeat-x;
  background-size: 400% 100%;
  animation: gradient 5s ease infinite;
  border-radius: 20px;
  padding: 0 5 0 5;
  border: solid 2px $background;
}

.gif-bg {
  background: url("./icons/both-themes/burbuja.gif");
}

@keyframes gradient {
  0%   { background-position: 100% 50%}
  100% { background-position: -33% 50%}
}

.button {
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181,  2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
}
.button pressed {
    box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black, -4px 0 black, 0 -4px black, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede,  2px -2px #818181, -2px 2px #e0dede, -4px 2px black, -4px 4px white, 4px 4px white, 4px 0 white, 0 4px white, 2px -4px black, 4px -4px white;
}

.energy {
  background-color: red;
}

.metric scale trough {
  all: unset;
  background-color: $surface;
  border-radius: 50px;
  min-height: 4px;
  min-width: 50px;
  margin: 10px;
}

@keyframes pulse {
  0%   {  color: $red;    }
  50%  {  color: $white;  }
  100% {  color: $red;    }
}

.low-battery{
  animation: pulse 1s infinite;
}

.low-battery_circular{
  animation: pulse 1s infinite;
}

.volume scale trough highlight{
  background-color: $mauve;
}

.volume-muted scale trough highlight{
  background-color: #7f849c;
}

.light scale trough highlight{
  background-color: $yellow
}

.bulbasaur {
  padding: 0px;
  margin-left: 5px;
}

/* BOOK STUFF */

.book {
background-color: transparent;
margin: 3 5 0 5;
padding: 1;
}


.lineas-bg {
    background: rgb(205,214,244);
    background: linear-gradient(118deg, $_2 5%,
                                        $_3 5%,
                                        $_3 20%,
                                        $_2 20%,
                                        $_2 40%,
                                        $_3 40%,
                                        $_3 60%,
                                        $_2 60%,
                                        $_2 80%,
                                        $_3 80%,
                                        $_3 95%,
                                        $_2 95%); 

    background-size: 200% 300%;

    border-radius: 20px;
    padding: 0 10px;
    border: solid 2px $background;

    animation: gradient_f_nh 4s linear infinite;
  }

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 200% 200%;
  }
}

