// https://colorkit.co/palette/ff595e-ff924c-ffae43-ffca3a-c5ca30-8ac926-52a675-1982c4-4267ac-6a4c93/
$mauve:    #ff595e ;
$pink:     #ff924c ;
$red:      #ffae43 ;
$peach:    #ffca3a ;
$yellow:   #c5ca30 ;
$green:    #8ac926 ;
$teal:     #52a675 ;
$sky:      #1982c4 ;
$sapphire: #4267ac ;
$blue:     #6a4c93 ;
$white:    #cdd6f4;

$background:       #eff1f5; // base
$surface:          #dce0e8; // crust
$foreground:       #4c4f69	;