// https://colorkit.co/color-palette-generator/cba6f7-f5c2e7-f38ba8-fab387-f9e2af-a6e3a1-94e2d5-89dceb-74c7ec-89b4fa/

$white:    #cdd6f4;
$mauve:    #cba6f7;
$pink:     #f5c2e7;
$red:      #f38ba8;
$peach:    #fab387;
$yellow:   #f9e2af;
$green:    #a6e3a1;
$teal:     #94e2d5;
$sky:      #89dceb;
$sapphire: #74c7ec;
$blue:     #89b4fa;
$background:       #181825;
$background-popup: #181825; 
$surface:          #1e1e2e;
$foreground:       $white;

// DARK

// $background:       #11111b; // crust
// $background-popup: #181825; // mantle
// $surface:          #1e1e2e; // base
