// https://colorkit.co/color-palette-generator/b688ea-e8a3d4-eb6c8f-f19d69-edd090-89db80-53c9b4-6bd2e3-56bae6-6c9eef/

$white:    #cdd6f4;
$mauve:    #cba6f7;
$pink:     #f5c2e7;
$red:      #f38ba8;
$peach:    #fab387;
$yellow:   #f9e2af;
$green:    #a6e3a1;
$teal:     #94e2d5;
$sky:      #89dceb;
$sapphire: #74c7ec;
$blue:     #89b4fa;
$background:       #dd7878; // mantle
$surface:          #e64553; // surface0
$foreground:       #cdd6f4;

// LIGHT