// https://colorkit.co/color-palette-generator/b688ea-e8a3d4-eb6c8f-f19d69-edd090-89db80-53c9b4-6bd2e3-56bae6-6c9eef/

$white:    #cdd6f4;
$mauve:    #8839ef;
$pink:     #ea76cb;
$red:      #d20f39;
$peach:    #fe640b;
$yellow:   #df8e1d;
$green:    #40a02b;
$teal:     #179299;
$sky:      #04a5e5;
$sapphire: #209fb5;
$blue:     #1e66f5;
$background:       #e6e9ef; // mantle
$background-popup: #eff1f5; // base
$surface:          #ccd0da; // surface0
$foreground:       #4c4f69	;