//https://colorkit.co/color-palette-generator/af61fd-fe79d5-ff4876-ff924a-ffd36b-5bfc4c-15fad5-40dffd-2fbcfd-4c8dfd/

$white:    #cdd6f4;
$mauve:    #b96ae3;
$pink:     #fd7fc0;
$red:      #fd556e;
$peach:    #fd9449;
$yellow:   #fdcc65;
$green:    #70f04a;
$teal:     #34eec0;
$sky:      #59d7e3;
$sapphire: #4ab9e3;
$blue:     #6390e3;

$background:       #eff1f5; // base
$surface:          #dce0e8; // crust
$foreground:       #4c4f69	;

// LIGHT