// https://colorkit.co/color-palette-generator/b688ea-e8a3d4-eb6c8f-f19d69-edd090-89db80-53c9b4-6bd2e3-56bae6-6c9eef/

$white:    #cdd6f4;
$mauve:    #b688ea;
$pink:     #e8a3d4;
$red:      #eb6c8f;
$peach:    #f19d69;
$yellow:   #edd090;
$green:    #89db80;
$teal:     #53c9b4;
$sky:      #6bd2e3;
$sapphire: #56bae6;
$blue:     #6c9eef;
$background:       #181825; // mantle
$background-popup: #1e1e2e; // base
$surface:          #313244; // surface0
$foreground:       $white;

// DARK