$white:    #cdd6f4;
$mauve:    #b96ae3;
$pink:     #fd7fc0;
$red:      #fd556e;
$peach:    #fd9449;
$yellow:   #fdcc65;
$green:    #70f04a;
$teal:     #34eec0;
$sky:      #59d7e3;
$sapphire: #4ab9e3;
$blue:     #6390e3;

$background:       #181825;
$background-popup: #1e1e2e;
$surface:          #313244;
$foreground:       $white;

// DARK
