// https://colorkit.co/palette/2c4875-5b4c82-8a508f-cc0863-ff6361-ff8531-ffa600-8cb357-18bfae-53cbef/

$mauve:    #2c4875;
$pink:     #5b4c82;
$red:      #8a508f;
$peach:    #cc0863;
$yellow:   #ff6361;
$green:    #ff8531;
$teal:     #ffa600;
$sky:      #8cb357;
$sapphire: #18bfae;
$blue:     #53cbef;
$white:    #cdd6f4;

$background:       #eff1f5; // base
$surface:          #dce0e8; // crust
$foreground:       #4c4f69	;