// https://colorkit.co/palette/f65356-fb8066-fea671-fec979-feea80-d7e586-a5de94-5daad8-8187c7-c56bba/

$mauve:    #f65356;
$pink:     #fb8066;
$red:      #fea671;
$peach:    #fec979;
$yellow:   #feea80;
$green:    #d7e586;
$teal:     #a5de94;
$sky:      #5daad8;
$sapphire: #8187c7;
$blue:     #c56bba;
$white:    #cdd6f4;

$background:       #eff1f5; // base
$surface:          #dce0e8; // crust
$foreground:       #4c4f69	;