//https://colorkit.co/palette/ff595e-ff924c-ffae43-ffca3a-c5ca30-8ac926-52a675-1982c4-4267ac-6a4c93/

$mauve:    #ff7a7d;
$pink:     #ffa86f;
$red:      #ffbe69;
$peach:    #ffd461;
$yellow:   #d2d558;
$green:    #a3d450;
$teal:     #75b98f;
$sky:      #489bd0;
$sapphire: #6885bd;
$blue:     #896fa9;
$white:    #cdd6f4;

$background:       #eff1f5; // base
$surface:          #dce0e8; // crust
$foreground:       #4c4f69	;