//https://colorkit.co/palette/ec3a2e-f17430-ee6850-eb5b6f-ea7baf-b198c6-f9bb31-8aaf6f-1ba2ac-618cc5/

$mauve:    #ec3a2e;
$pink:     #f17430;
$red:      #ee6850;
$peach:    #eb5b6f;
$yellow:   #ea7baf;
$green:    #b198c6;
$teal:     #f9bb31;
$sky:      #8aaf6f;
$sapphire: #1ba2ac;
$blue:     #618cc5;
$white:    #cdd6f4;

$background:       #eff1f5; // base
$surface:          #dce0e8; // crust
$foreground:       #4c4f69	;