// https://colorkit.co/color-palette-generator/d89efd-e060e1-ff7dc5-fb9b6b-eff061-6fcd3c-00916e-38e1aa-66bcce-417797/


$white:    #fe85e7;
$mauve:    #d89efd;
$pink:     #e060e1;
$red:      #ff7dc5;
$peach:    #fb9b6b;
$yellow:   #eff061;
$green:    #6fcd3c;
$teal:     #00916e;
$sky:      #38e1aa;
$sapphire: #66bcce;
$blue:     #417797;
$background:       #0E122D;
$background-popup: #465688;
$surface:          #2a345a;
$foreground:       $white;

// DARK
